<button type="button" class="btn btn-primary">I'm a bootstrap spacer!</button>

<h2>{{display_class.Name}}</h2>
<div ng-show="isLoading">
    Data is loading currently...
</div>
<div ng-hide="isLoading">
<ul class="list-group">    <li class="list-group-item" ng-repeat="(key,value) in display_class" >
        
    {{key}}: {{value}}<div ng-show="key==Type"> Type thing </div>
    </li>
</ul>
<br>

<div ng-hide="hideTAs">
<h3>List of current TAs</h3>
<h4>Graders</h4>
<ul class="list-group">    <li class="list-group-item" ng-repeat="graderStudent in Needs.CurrentTAs " ng-hide="graderStudent.taType != 'Graders'" >

        
     {{graderStudent | studentDataFilter }} 
    <button ng-click="removeTA(graderStudent.taStudent)" class="btn btn-danger pull-right center">Remove Student</button>
    </li>
</ul>

<h4>Class Assistants</h4>

<ul class="list-group">    <li class="list-group-item" ng-repeat="ClassAssistants in Needs.CurrentTAs " ng-hide="ClassAssistants.taType != 'ClassAssistants'" >

        
     {{ClassAssistants | studentDataFilter }} 
    <button ng-click="removeTA(ClassAssistants.taStudent)" class="btn btn-danger pull-right center">Remove Student</button>
    </li>
</ul>
<h4>Lab Assistants</h4>
<ul class="list-group">    <li class="list-group-item" ng-repeat="LabAssistants in Needs.CurrentTAs " ng-hide="LabAssistants.taType != 'LabAssistants'" >

        
     {{LabAssistants | studentDataFilter }} 
    <button ng-click="removeTA(LabAssistants.taStudent)" class="btn btn-danger pull-right center">Remove Student</button>
    </li>
</ul>
</div>
<br>
<div class="table-container">
    <!-- <table st-table="studentData" st-safe-src="displayedData" class="table table-striped" > -->
    <table st-table="displayedData" st-safe-src="studentData" class="table table-striped" >
    <thead>
    <tr>
        <th st-sort="Name">Name</th>
        <th st-sort="Majors[0]">Major</th>
        <th>Add TA</th>
        <!-- <th st-sort="Class">Class</th> -->
    </tr>
    <tr>
        <th>
            <input st-search="Name" placeholder="search name..." class="form-control"  type="search"/>
        </th>
        <th >
            <input st-search="Majors" placeholder="search major..." class="form-control"  type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in displayedData" >
        <td><a href  ng-click="goToDetail(student)">{{student.Name}}</a></td>
        <td>{{student.Majors[0]}} {{""}}</td>
        <td>
            <button ng-click="addTA(student,'Graders')" type="button" class="btn btn-default" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add

            </button>
        </td>
    </tr>
    </tbody>
</table>
</div>

