    <!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>TA Selection</h1>
                    <h3>Rose-Hulman Institute of Technology</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a navigator ng-click="goTo({viewLoc:'student-workstudy'})" href class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Students</span></a>
                        </li>
                        <li>
                            <a navigator ng-click="goTo({viewLoc:'ta-collection'})" href class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Courses</span></a>
                        </li>
                        <li>
                            <a navigator ng-click="goTo({viewLoc:'ta-needs'})" href class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">TA needs</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
</div>
