<button type="button" class="btn btn-primary">I'm a bootstrap spacer!</button>
<!-- <button type="button" class="btn btn-primary" ng-click="goTo('\home')">Go Home</button> -->

<h1>Student Workstudy </h1>
<div ng-show='isLoading'> Data is loading currently...</div>
<div ng-hide='isLoading'>
This is a list of all the students who took CSSE classes and have or do not have workstudy.
<div class="table-container">
    <table st-table="displayedData" st-safe-src="studentData" class="table" >
    <thead>
    <tr>
        <th st-sort="getters.name" st-sort-default="reverse">Name</th>
        <th st-sort="getters.workStudy" st-sort-default="reverse"  >Workstudy</th>
        <th st-sort="getters.applied" >Applied</th>
    </tr>
    <tr class="form-group">
        <th>
            <input st-search="Name" placeholder="search name..." class="form-control"  type="search"/>
        </th>
        <th>
          <select st-search="hasWorkStudy" class="form-control">
            <option value="" >Both</option> 
            <option value="true" selected="selected">WS </option>
            <option value="false">No WS</option>
          </select>
        </th>
        <th>
          <select st-search="hasApplied" class="form-control">
            <option value="">Both</option> 
            <option value="true"> Applied </option>
            <!-- <option value="true" selected="selected"> Applied </option> -->
            <option value="false">No applied</option>
          </select>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in displayedData | orderBy: 'Username'"  ng-class="student.hasWorkStudy ? 'isWorkStudy' : 'isNotWorkStudy'">
        <td><a href ng-click="goToDetail(student)">{{student.Name}}</a></td>
        <td>{{student.hasWorkStudy | workStudyFilter}}</td>
        <td>{{student.AppliedCourses | appliedFilter}}</td>


    </tr>
    </tbody>
</table>
</div>
</div>
