<button type="button" class="btn btn-primary">I'm a bootstrap spacer!</button>

<h1> Student information </h2>

<div ng-show="isLoading">
    Data is loading currently...
</div>
<div ng-hide="isLoading">
    <ul class="list-group">    <li class="list-group-item" ng-repeat="(key,value) in displayStudent">
        {{key}}: {{value | unglueArray}}
    </li>
    </ul>
    <h2> Courses </h2>
    <h4> click on a course to go to it </h4>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="course in displayCourses">
            <a href ng-click="goToListStudents(course)">{{course}}</a>
        </li>
    </ul>
</div>
