<button type="button" class="btn btn-primary">I'm a bootstrap spacer!</button>

<h1>Courses 201630</h1>

<div ng-show='isLoading'>Data is loading currently...</div>

<course-list ng-hide='isLoading' go-to='goTo'></course-list>
