<button type="button" class="btn btn-primary">I'm a bootstrap spacer!</button>

<h1> Assistant needs for 201630 </h1>

<div ng-show='isLoading'> Data is loading currently...</div>

<div ng-hide='isLoading'>
<button type="button" class="btn btn-primary" ng-click="saveForm()" class="pull-left">Save all Forms</button>
<form name="maintaform" >
    
<table st-table="displayClasses" st-safe-src="classes" class="table table-bordered">
    <thead>
        <tr>
            <th st-sort='Name'>Course</th>
            <th> Name</th>
            <th> Instructor</th>
            <th> Size </th>
            <th> Graders Needed </th>
            <th> In class assistants needed </th>
            <th> Lab Assistants needed </th>
            <th> Notes </th>
        </tr>
        <th colspan="3">
            <input st-search="" placeholder="search ..." class="form-control"  type="search"/>
        </th>
    </thead>
    <tbody>
        <tr taform-cleaner ng-form="taform_{{some_class.Name}}"  ng-repeat="some_class in displayClasses | orderBy : 'Name'" >
            <td><a href ng-click="goTo({viewLoc:'/course-view/' + some_class.Name})">{{some_class.Name}}</a></td>
            <td>{{some_class.Description}}</td>
            <td>{{some_class.Instructor | lowercase}}</td>
            <td>{{some_class.sizemin}} / {{some_class.sizemax}}</td>
            <td ng-class="{'has-error' : !taform.grades.$valid}">
                <input type="number" name="graders" min="0" ng-model="some_class.Needs.Graders" class="text-center"></input>
            </td>
            <td>
                <input type="number" name="classass" min="0" ng-model="some_class.Needs.ClassAssistants" class="text-center"></input>
            </td>
            <td>
                <input type="number" name="labass" min="0" ng-model="some_class.Needs.LabAssistants" class="text-center"></input>
            </td>
            <td><textarea type="text" auto-grow ng-model="some_class.Notes" class="text-center"></textarea></td>
        </tr>
    </tbody>
</table>
</form>
</div>
