<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a navigator href ng-click="goTo({viewLoc: 'home'})">Home</a>
                </li>
                <li>
                    <a navigator href ng-click="goTo({viewLoc: 'student-workstudy'})">Students</a>
                </li>
                <li>
                    <a navigator href ng-click="goTo({viewLoc: 'ta-collection'})">Courses</a>
                </li>
                <li>
                    <a navigator href ng-click="goTo({viewLoc: 'ta-needs'})">TA needs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</div>